<div>

    <div class='mainContentTop'>

    </div>
    <div class='aboutMain'>
        <section class='aboutMainContent'>
            <figure>
                    <div  class="wow rollIn animated">
                            <img  class='shake' src='../assets/images/psb.jpg' width="130" height="130" title="This is Eryang" />
                    </div>
                    <div>
                        <figcaption class="wow rollIn animated">
                            Name : Eryang<br />
                            Age　: 25<br />
                            Phone : 18332568259<br />
                            Email : zhaoyang450@126.com
                        </figcaption>
                    </div>
            </figure>
        </section>
    </div>
</div>