<div>
    <div class='mainContentTop'>

    </div>
    <div class='contactMain'>
        <form class="wow lightSpeedIn  animated">
                <input type="text"  placeholder='Your Name' />
                <select placeholder="Select a city" style="width: 100%">
                    <option value="北京">北京</option>
                    <option value="天津">天津</option>
                    <option value="上海">上海</option>
                    <option value="杭州">杭州</option>
                    <option value="深圳">深圳</option>
                </select>
              <input type="radio" name="sex" value="男"> 男　
              <input type="radio" name="sex" value="女"> 女
              <textarea name="" id=""  placeholder="Please enter a message." style="width: 100%"></textarea>
                <p key='5'>
                    <button type="button" class="btn btn-info">提交</button>
                    <button type="button" class="btn btn-danger">重置</button>
                </p>
        </form>

    </div>