  <div>
    <div class='sideNav'>
      <div class="top">
        <img src='../assets/images/psb.jpg' title="This is Eryang" />
      </div>
      <ul class="wow bounceInLeft animated">
          <li><a ui-sref="base.about">About</a></li>
          <li><a ui-sref="base.experience">Experience</a></li>
          <li><a ui-sref='base.education'>Education</a></li>
          <li><a ui-sref="base.skills">Skills</a></li>
          <li><a ui-sref="base.projects">Projects</a></li>
          <li><a ui-sref='base.contact'>Contact</a></li>
      </ul>
    </div>
    <div class='mainContent'>
      <div ui-view></div>
    </div>
  </div>