<div>
    <div class='mainContentTop'>

    </div>
    <ul class='projectMain'>
            <li  class="wow bounceInDown  animated">
                <img  class='shake shake-slow' src='../assets/images/project3.png' title='This is project1' />
            </li>
            <li class="wow bounceInDown  animated">
                <img class='shake shake-slow' src='../assets/images/project5.png' title='This is project2 '/>
            </li>
            <li class="wow bounceInDown  animated">
                <img class='shake shake-slow' src='../assets/images/project6.png' title='This is project3' />
            </li>
            <li class="wow bounceInDown  animated">
                <img class='shake shake-slow' src='../assets/images/project9.png' title='This is project4' />
            </li>
            <li class="wow bounceInDown  animated">
                <img class='shake shake-slow' src='../assets/images/project10.png' title='This is project5' />
            </li>
            <li class="wow bounceInDown  animated">
                <img class='shake shake-slow' src='../assets/images/project11.png' title='This is project6' />
            </li>
    </ul>
</div>